
body {
    margin: 0cm;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;

}
h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF; 
   
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF; 
    font-weight: bold;
   
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    
}
a {
    color:#11999E;
    
}
a:hover {
    color: #EAF6F6;
}
p{
    color: #40514E;
    line-height: 2;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    margin: 100px auto;
    width: 7%;
  }


/************* CLASS SELECTORS *************/
.top-container {
    background-color: #e3fdfd;
    margin-left: 0cm;
    margin-right: 0cm;
    position: relative;
    padding-top: 100px;
}
.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 60px 0;
}

.top-cloud {
    position:absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;

}
.profilepicture {
    border-radius: 70%;
    margin-top: 80px;
}
.introduction {
    width: 40%;
    margin: 0 auto 50px auto;
 
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}
.skill-graphics {
    width: 25%;
    float: right;
    padding-right: 30px;
}
.skill-programming {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.gimmeacall {
    margin-bottom: 40px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    margin: 0 auto 100px auto;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.footer-link {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;

}
.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding-top: 20px;
}
